<!--底部-->
<!--底部-->
<div id="foot">
    <div class="foot">
        <div class="copy">
                <span>
                    Copyright <font class="foot-info">@创新理论与创新管理研究中心</font><br/>
                    电话：123456
                </span>
        </div>
        <div class="link2 right">
            <!--<select name="select" onchange="if(this.options[this.selectedIndex].value!=''){window.open(this.options[this.selectedIndex].value,'_blank');}">
            <option>--------友情链接--------</option>
            <option value="#">快速链接1-1</option><option value="#t">东莞市力拓网络科技有限公司</option><option value="#">快速链接1-2</option><option value="#">快速链接1-3</option><option value="#">快速链接1-4</option><option value="#m">xx大学</option><option value="#">艾慕</option><option value="#/">北京大学</option>
            </select>-->
            <span>友情连接:</span>
            <span style="display:inline-block;vertical-align:top">
                    <a href="http://www.github.com/" target="_blank">github</a>
                    <a href="http://www.baidu.com" target="_blank">  百度  </a>
                    <a href="http://www.qq.com" target="_blank">腾讯</a>
                    <a href="http://www.jd.com" target="_blank">京东</a>
                    <br>
                    <a href="http://www.taobao.com" target="_blank">淘宝</a>
                    <a href="https://www.zhihu.com" target="_blank">知乎</a>
                    <a href="http://www.weibo.com" target="_blank">新浪微博</a>
                </span>
        </div>
    </div>
</div>
<!--<script language="javascript">
    window.onload = menuFix;
</script>-->
<!--底部-->
<!--底部-->
<script>
    // 设置时间
    var $timeEle = $("#currentTime").eq(0);
    $timeEle.html( setDateStr() );

    function setDateStr() {
        var date = new Date(),
                year = date.getFullYear(),
                month = date.getMonth() + 1,
                day = date.getDate();
        return year + "年" + month + "月" + day + "日";
    }

    $("i.close").on('click',function (){
        $(".login-layer").css('display', 'none');
    });

    function trimStr(str){
        if(!str){
            return false;
        }
        var reg = /\s/g;
        return str.replace(reg,"");
    }
</script>
<!--底部-->
<!--底部-->

</body>

</html>