<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="ITIMRC">
    <link rel="icon" href="http://lan:80/static/template/blog/images/favicon.ico">

    <title>ITIMRC</title>

    <link rel="stylesheet" type="text/css" href="http://lan:80/static/template/blog/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="http://lan:80/static/template/blog/css/slider.css"/>
    <link rel="stylesheet" type="text/css" href="http://lan:80/static/template/blog/css/login-layer.css"/>
</head>

<body>
<noscript>
    <div style="position:absolute;z-index:100000; height:2046px;top:0px;left:0px; width:100%; background:white; text-align:center;">
        <img src="http://lan:80/static/template/blog/images/noscript.gif" alt="抱歉，请开启脚本支持！"/></div>
</noscript>
<!--头部-->
<script type="text/javascript" src="http://lan:80/static/template/blog/js/jquery.min.js"></script>
<script type="text/javascript" src="http://lan:80/static/template/blog/js/msclass.js"></script>
<script>
    var big = [
        'http://lan:80/upload/2017/06/19/e6c4209490d7494c83d87e64e3f72829.jpg',
            'http://lan:80/upload/2017/06/19/8c7b644a4af34e9ea5a07d0678d617bc.jpg',
            'http://lan:80/upload/2017/06/19/8d43f563fb2d4c89a9622ea262cd8993.jpg',
            'http://lan:80/upload/2017/06/19/06752febbd5f42218c3d858074bf958f.jpg',
            'http://lan:80/upload/2017/06/19/33a02468859640d6adfd3e1501dcc945.jpg',
    ];
    var small = [
    ];
</script>
<script src="http://lan:80/static/template/blog/js/slider.js"></script>
<!--<script type="text/javascript" src="http://lan:80/static/template/blog/js/jquery.kinslideshow-1.2.1.min.js"></script>
<script type="text/javascript" src="http://lan:80/static/template/blog/js/jquery.media.js"></script>
<script type="text/javascript" src="http://lan:80/static/template/blog/js/dd_belatedpng_0.0.8a.js"></script>
<script type="text/javascript" src="http://lan:80/static/template/blog/js/jquery.pagination.js"></script>
<script type="text/javascript" src="http://lan:80/static/template/blog/js/base.js"></script>
<script type="text/javascript" src="http://lan:80/static/template/blog/js/tablist.js"></script>
<script type="text/javascript" src="http://lan:80/static/template/blog/js/comm.js"></script>-->
<!--[if lte IE 6]>
<script src="http://lan:80/static/template/blog/js/dd_belatedpng_0.0.8a.js" type="text/javascript"></script>
<script type="text/javascript">
    DD_belatedPNG.fix('div,ul,img,li,input,a,span,p');
</script>
<![endif]-->
<!--登录遮罩层-->
<div class="login-layer" style="display:none">
    <div class="login">
        <h1>用户登录</h1>
        <form method="post" action="http://lan:80/user/login.json" id="loginForm">
            <span id="error" style="color:red;"></span>
            <p><input type="text" name="name" value="user" placeholder="用户名" required></p>
            <p><input type="password" name="password" value="123456" placeholder="密码" maxlength="16" minlength="6"
                      required></p>
            <p>
                <input type="text" name="captcha" class="form-control" required maxlength="4" minlength="4"
                       placeholder="验证码" style="width: 100px; float: left;" id="captcha"> <img

                    style="cursor: pointer; cursor: hand; margin-top: -13px;"
                    onclick="this.src='http://lan:80/admin/captcha.htm?'+Math.random();"
                    src="http://lan:80/admin/captcha.htm">
            </p>
            <p class="remember_me">
                <label>
                    <input type="checkbox" name="rememberMe" id="remember_me" value="true">
                    记住密码
                </label>
            </p>
            <p class="submit"><input type="submit" name="commit" value="登录"></p>
        </form>
        <div class="login-help">
            <p>忘记密码? <a href="index.html">联系工作人员</a>.</p>
        </div>
    </div>
</div>
<!--登录遮罩层-->

<!--头部-->
<div class="header">
    <!-- banner -->
    <div class="banner">
        <div class="slider">
            <ul></ul>
        </div>
    </div>
    <!-- banner -->
    <div class="header-content">
        <div class="logo">
            <a href="http://lan:80/index.htm">
                <img src="http://lan:80/static/template/blog/images/logo-new.png" alt=""/>
            </a>
        </div>
        <h3>
            创新理论与创新管理研究中心
            <span>INNOVATION THEORY AND INNOVATION MANAGEMENT RESERCH CENTER</span>
            <p>——广州市人文社会科学重点研究基地</p>
        </h3>
        <!--搜索-->
        <div class="search">
            <span class="widget"><i>2017年5月20日</i>&nbsp;<a class="eng_ver" href="#">[English Version]</a></span>
            <div class="searchGroup">
                <input type="text" value="" class="searchText" placeholder="请输入关键字搜索" id="key">
                <input type="button" value="搜索" class="searchButton" id="keyButton">
            </div>
        </div>
        <!--搜索-->
    </div>
    <div class="menu">
        <ul id="nav">
                <li class="on">
                    <a href=""
                       target="0">首页</a>
                    <ul>
                    </ul>
                </li>
                <li class="on">
                    <a href="/article/list.htm?menuId=149776534411285"
                       target="0">测试</a>
                    <ul>
                    </ul>
                </li>
                <li class="on">
                    <a href="/article/list.htm?menuId=149715128012317"
                       target="0">关于我们</a>
                    <ul>
                            <li class=""><a href="/article/list.htm?menuId=149715128012317" target="0">主任致辞</a>
                                <ul>
                                </ul>
                            </li>
                            <li class=""><a href="/article/list.htm?menuId=149715129668145" target="0">中心简介</a>
                                <ul>
                                </ul>
                            </li>
                            <li class=""><a href="/article/list.htm?menuId=149715135268713" target="0">学术委员会</a>
                                <ul>
                                </ul>
                            </li>
                            <li class=""><a href="/article/list.htm?menuId=149715137137918" target="0">组织机构</a>
                                <ul>
                                </ul>
                            </li>
                    </ul>
                </li>
                <li class="on">
                    <a href="/article/list.htm?menuId=149715140882566"
                       target="0">新闻动态</a>
                    <ul>
                            <li class=""><a href="/article/list.htm?menuId=149715140882566" target="0">中心动态</a>
                                <ul>
                                </ul>
                            </li>
                            <li class=""><a href="/article/list.htm?menuId=149715141715540" target="0">学术前沿</a>
                                <ul>
                                </ul>
                            </li>
                    </ul>
                </li>
                <li class="on">
                    <a href="/article/list.htm?menuId=149715143466311"
                       target="0">研究人员</a>
                    <ul>
                            <li class=""><a href="/article/list.htm?menuId=149715143466311" target="0">研究顾问</a>
                                <ul>
                                </ul>
                            </li>
                            <li class=""><a href="/article/list.htm?menuId=149715145693790" target="0">专职研究员</a>
                                <ul>
                                </ul>
                            </li>
                            <li class=""><a href="/article/list.htm?menuId=149715147705703" target="0">兼职研究员</a>
                                <ul>
                                </ul>
                            </li>
                            <li class=""><a href="/article/list.htm?menuId=149715148797574" target="0">其他人员</a>
                                <ul>
                                </ul>
                            </li>
                    </ul>
                </li>
                <li class="on">
                    <a href="/article/list.htm?menuId=149715150497545"
                       target="0">学术研究</a>
                    <ul>
                            <li class=""><a href="/article/list.htm?menuId=149715150497545" target="0">研究方向</a>
                                <ul>
                                </ul>
                            </li>
                            <li class=""><a href="/article/list.htm?menuId=149715151450632" target="0">研究成果</a>
                                <ul>
                                        <li class=""><a href="/article/list.htm?menuId=149746273666579" target="0">学术论文</a>
                                        <li class=""><a href="/article/list.htm?menuId=149746288288476" target="0">出版书籍</a>
                                </ul>
                            </li>
                    </ul>
                </li>
                <li class="on">
                    <a href="/article/list.htm?menuId=149715153341548"
                       target="0">人才培养</a>
                    <ul>
                            <li class=""><a href="/article/list.htm?menuId=149715153341548" target="0">本科生教育</a>
                                <ul>
                                </ul>
                            </li>
                            <li class=""><a href="/article/list.htm?menuId=149715154586939" target="0">研究生教育</a>
                                <ul>
                                </ul>
                            </li>
                    </ul>
                </li>
                <li class="on">
                    <a href="/article/list.htm?menuId=149715156331056"
                       target="0">合作交流</a>
                    <ul>
                            <li class=""><a href="/article/list.htm?menuId=149715156331056" target="0">高校合作</a>
                                <ul>
                                </ul>
                            </li>
                            <li class=""><a href="/article/list.htm?menuId=149715156997426" target="0">企业合作</a>
                                <ul>
                                </ul>
                            </li>
                            <li class=""><a href="/article/list.htm?menuId=149715157911011" target="0">政府合作</a>
                                <ul>
                                </ul>
                            </li>
                    </ul>
                </li>
                <li class="on">
                    <a href="/article/list.htm?menuId=149715117020733"
                       target="0">研究资源</a>
                    <ul>
                    </ul>
                </li>
                <li class="on">
                    <a href="/article/list.htm?menuId=149715118080311"
                       target="0">人才招聘</a>
                    <ul>
                    </ul>
                </li>
                <li class="on">
                    <a href="/article/download.htm"
                       target="0">智库专报</a>
                    <ul>
                    </ul>
                </li>
        </ul>
    </div>
</div>
<script src="http://lan:80/static/manage/js/jquery.form.min.js"></script>
<script>
    $(function () {
        var ele = null;
        $("#nav li").click(function (e) {
            var temp = $(this).find('a');
            if (temp.html() !== "智库专报") return;
            ele = $(this).find('a');
            e.preventDefault();
            $.ajax({
                url: 'http://lan:80/user/isLogin.json',
                type: 'POST',
                cache: false,
                success: function (data) {
                    if (data == false) {
                        $(".login-layer").css('display', 'flex');
                    } else {
                        window.open(temp.attr("href"), "_blank");
                    }
                },
                error: function () {
                    alert("系统繁忙，请稍后再试！");
                }
            });
        });

        $('#loginForm').ajaxForm({
            dataType: 'json',
            success: function (data) {
                if (data)
                    $("#error").text(data.error);
            },
            error: function () {
                window.location.href=ele.attr("href");
            }
        });

    });

    //搜索功能

    $("#keyButton").click(function () {
        window.location.href = "http://lan:80/article/search.html?key=" + $("#key").val();
    });
</script>
<div class="clear"></div>